# Editor
.idea/
.vs/
.vscode/
*.swp

# Clangd
.cache/

# Dependencies
deps/
vcpkg_installed/
conan/

# Build
build/
cmake-build-*/
out/
dist/
CMakeUserPresets.json

# Others
.DS_Store
docs/doxygen-output/
