<?xml version="1.0" encoding="UTF-8"?>
<cornui>
<head>
    <style src="../styles/common.ccss"/>
    <style src="../styles/menu.ccss"/>
    <style src="../styles/settings.ccss"/>
    <script src="../scripts/underline.js"/>
</head>
<body>
    <widget name="body">
        <widget name="contents">
            <label name="title">Settings</label>
            <label name="lang-label" class="num-1">
                Language:
                <label name="lang" class="button">English</label>
            </label>
        </widget>
        <label name="save" class="back button" onclick="GlobalEvent.emit('scene::pop')">Save and exit</label>
    </widget>
</body>
</cornui>
